@charset "utf-8";
#container {
    padding: 50px;
}

/* 서브 상단 공통 subTop */

.subTop {
    position: relative;
    margin-bottom: 45px;
    border-bottom: 1px solid #ddd;
}

.subTop h3 {
    padding: 5px 0;
    font-size: 20px;
    font-weight: 700;
    color: #121212;
}

.subTop ol {
    position: absolute;
    top: 13px;
    right: 0;
}

.subTop ol li {
    float: left;
    font-size: 12px;
    color: #121212;
}

.subTop ol li:after {
    content: '>';
    display: inline-block;
    width: 10px;
    padding-left: 7px;
    font-size: 10px;
    color: #707070;
}

.subTop ol li:last-child {
    color: #956b29;
}

.subTop ol li:last-child:after {
    display: none;
}

/* 서브 상단 스텝 stepArea */

.stepArea {
    margin-bottom: 40px;
    text-align: right;
}

.stepArea li {
    display: inline-block;
    height: 48px;
    line-height: 48px;
}

.stepArea li:before {
    content: '>';
    display: inline-block;
    width: 20px;
    padding-right: 10px;
    font-size: 12px;
    color: #707070;
}

.stepArea li:first-child:before {
    display: none;
}

.stepArea li span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #e9e9e9;
    border-radius: 100%;
    text-align: center;
    line-height: 33px;
    font-size: 13px;
    font-weight: 700;
    color: #4d4d4d;
}

.stepArea .finish span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4d4d4d;
    border-radius: 100%;
}

.stepArea .finish span:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 14px;
    margin: 5px 0 0 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.stepArea .current .icoDoc {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #d91f26 url(../img/ico_doc.png) no-repeat 50% 50%;
    background-size: 24px 30px;
    border-radius: 100%;
    vertical-align: middle;
}

.stepArea .current span {
    width: auto;
    height: auto;
    margin-left: 5px;
    background: none;
    color: #d91f26;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
}

.stepArea .current span em {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

/* 서브 컨텐츠 article */

article {
    margin-bottom: 50px;
}

article h4 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #454545;
}

article h4 .choice {
    color: #4566a2;
}

/* 공통 테이블 요소 */

.defaultTable {
    border-top: 2px solid #4d4d4d;
}

.defaultTable .widthS {
    /* width: 15%; */
    width: 130px;
}

.defaultTable .widthM {
    width: 35%;
}

.defaultTable .widthL {
    width: auto;
}

.defaultTable th,
.defaultTable td {
    border-bottom: 1px solid #dbdbdb;
    font-size: 13px;
    color: #333;
}

.defaultTable th {
    padding: 15px 20px;
    background: #f5f5f5;
    text-align: left;
}

.defaultTable td {
    padding: 10px;
}

.defaultTable .space {
    margin: 0 10px;
    color: #717272;
}

.defaultTable .inputArea+select,
.defaultTable .inputArea+.inputArea,
.defaultTable .inputArea+.btn,
.defaultTable select+.inputArea {
    margin-left: 10px;
}

.defaultTable input[type="radio"]+label,
.defaultTable input[type="checkbox"]+label {
    margin-right: 20px;
}

.defaultTable .lineChg {
    margin-bottom: 10px;
}

.defaultTable .heightCen {
    height: 29px;
    line-height: 29px;
}

.defaultTable.typeA .widthS {
    width: 40%;
}

.defaultTable.typeA td {
    padding: 20px 80px;
    background: #f5f5f5;
}

/* 리스트타입 */

.listTypeDot {
    margin-top: 20px;
}

.listTypeDot li,
.listTypeDash li {
    position: relative;
    padding-left: 8px;
    margin-left: 15px;
    font-size: 13px;
    color: #444544;
}

.listTypeDot li:before,
.listTypeDash li:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 13px;
    background: url(../img/bul_dot.gif) no-repeat left center;
}

.listTypeDot li+li {
    margin-top: 10px;
}

.listTypeDash li {
    color: #787878;
}

.listTypeDash li:before {
    background-image: url(../img/bul_dash.gif);
}

.listTypeDot .listTypeDash li {
    margin: 10px 0 0 0;
}

/* 폼그룹 -input 공통 */

input {
    width: 100%;
    max-width: 115px;
    padding: 5px 10px;
    box-sizing: border-box;
}

input.mw70 {
    max-width: 70px;
}

input.mw170 {
    max-width: 170px;
}

input.mw200 {
    max-width: 200px;
}

input.mw260 {
    max-width: 260px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
}

.inputArea {
    position: relative;
}

.inputArea input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.inputArea input[type="radio"]+label {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    /* 텍스트 선택 방지 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.inputArea input[type="radio"]+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 16px;
    height: 16px;
    text-align: center;
    background: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 100%;
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
}

.inputArea input[type="radio"]+label:active:before,
.inputArea input[type="radio"]:checked+label:active:before {
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); */
}

.inputArea input[type="radio"]:checked+label:before {
    /* background: #E9ECEE;
    border-color: #adb8c0; */
}

.inputArea input[type="radio"]:checked+label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 8px;
    height: 8px;
    background: #d91f26;
    border-radius: 100%;
    /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); */
}

.inputArea input[type="checkbox"] {
    /* 실제 체크박스는 화면에서 숨김: blind와 같음 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.inputArea input[type="checkbox"]+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.inputArea input[type="checkbox"]+label:before {
    /* 가짜 체크박스 */
    content: ' ';
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    /* 세로정렬을 위해 높이값과 일치 */
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bebebe;
    /*border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
}

.inputArea input[type="checkbox"]+label:active:before,
.inputArea input[type="checkbox"]:checked+label:active:before {
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); */
}

/* .inputArea input[type="checkbox"]:checked+label:before {
    체크박스를 체크했을때 content: '\2714';
    체크표시 유니코드 사용 color: #d91f26;
    text-shadow: 1px 1px #fff;
    background: #e9ecee;
    border-color: #adb8c0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    font-size: 14px;
} */

.inputArea input[type="checkbox"]:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 8px;
    margin: 1px 0 0 6px;
    border: solid #d91f26;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* 폼그룹 -select 공통 */

select {
    padding: 7px 24px 5px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/select_arrow.png') no-repeat 88% 50%;
    /* 화살표 아이콘 추가 */
}

select::-ms-expand {
    display: none;
    /* 화살표 없애기 for IE10, 11*/
}

select.w200 {
    width: 100%;
    max-width: 200px;
    background-position: 94% 50%;
}

/* 버튼 공통 */

.btnWrap {
    margin-top: 50px;
}

.btn {
    border: 1px solid #a8adb0;
    color: #444;
}

.btnS {
    height: 29px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 29px;
}

.btnL {
    width: 154px;
    height: 50px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 50px;
}

.btnTypeA {
    background: #f2f2f2;
}

.btnTypeB {
    background: #fff;
}

.btnTypePrev,
.btnTypeNext {
    border: 0 none;
    background: #40464d;
    font-weight: 700;
    color: #fff;
}

.btnTypeNext {
    background: #d91f26;
}

/* 탭 공통 */

.tabs {
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #4d4d4d;
}

.tabs li {
    float: left;
    width: 130px;
}

.tabs li a {
    display: block;
    padding: 9px 0;
    border: 1px solid #bebebe;
    border-bottom: none;
    background: #e6e6e6;
    font-size: 13px;
    font-weight: 700;
    color: #808080;
    text-align: center;
}

.tabs li.on a {
    border-color: #4d4d4d;
    background: #4d4d4d;
    color: #fff;
}